apiVersion: v1
kind: ServiceAccount
metadata:
  name: haproxy-ingress
  namespace: haproxy-ingress
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: haproxy-ingress
rules:
  - apiGroups: [""]
    resources: [configmaps, endpoints, nodes, pods, services, namespaces, events, serviceaccounts, secrets]
    verbs: [get, list, watch]
  - apiGroups: ["extensions", "networking.k8s.io"]
    resources: [ingresses, ingressclasses, ingresses/status]
    verbs: [get, list, watch, update]
  - apiGroups: ["extensions", "networking.k8s.io"]
    resources: [ingresses/status]
    verbs: [update]
  - apiGroups: [""]
    resources: [secrets]
    verbs: [get, list, watch, create, patch, update]
  - apiGroups: [discovery.k8s.io]
    resources: [endpointslices]
    verbs: [get, list, watch]
  - apiGroups: [core.haproxy.org]
    resources: [defaults, globals, backends]
    verbs: [get, list, watch, update]
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "list", "watch", "create", "update", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: haproxy-ingress
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: haproxy-ingress
subjects:
  - kind: ServiceAccount
    name: haproxy-ingress
    namespace: haproxy-ingress
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: haproxy
  annotations:
    ingressclass.kubernetes.io/is-default-class: "true"
spec:
  controller: haproxy.org/ingress-controller
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-config
  namespace: haproxy-ingress
data:
  global-config-snippet: |
    tune.lua.bool-sample-conversion pre-3.1-bug
    insecure-fork-wanted
    lua-load-per-thread /etc/haproxy/lua/otel.lua
  frontend-config-snippet: |
    http-request lua.start_server_span
    filter lua.opentelemetry-trace
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: haproxy-ingress
  namespace: haproxy-ingress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: haproxy-ingress
  template:
    metadata:
      labels:
        app: haproxy-ingress
    spec:
      serviceAccountName: haproxy-ingress
      containers:
        - name: haproxy-ingress
          image: haproxy-otel:test
          args:
            - --configmap=haproxy-ingress/haproxy-config
            - --ingress.class=haproxy
          ports:
            - name: http
              containerPort: 8080
            - name: https
              containerPort: 8443
            - name: stat
              containerPort: 1024
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OTEL_SERVICE_NAME
              value: haproxy-ingress-e2e
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: http://jaeger.haproxy-otel-e2e.svc.cluster.local:4318/v1/traces
            - name: OTEL_TRACES_SAMPLER
              value: always_on
            - name: OTEL_PROPAGATORS
              value: w3c
          livenessProbe:
            httpGet:
              path: /healthz
              port: 1042
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /healthz
              port: 1042
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 12
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: haproxy-ingress
  namespace: haproxy-ingress
spec:
  type: NodePort
  selector:
    app: haproxy-ingress
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
    - name: https
      port: 443
      targetPort: 8443
      nodePort: 30443
